.sort {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

form button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(0, 153, 255);
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
} 
  
.sortButton {
    padding: 5px 10px;
    font-size: 14px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
  
  